<header>
  <div>
    <a href="{% url 'barlery:index' %}">Barlery</a>
    
    <button class="nav-toggle" id="nav-toggle" aria-label="Toggle navigation">
      <span></span>
      <span></span>
      <span></span>
    </button>
    
    <nav id="nav-menu">
      <a href="{% url 'barlery:index' %}">Home</a>
      <a href="{% url 'barlery:about' %}">About</a>
      <a href="{% url 'barlery:menu' %}">Menu</a>
      <a href="{% url 'barlery:calendar' %}">Calendar</a>
      <a href="{% url 'barlery:venue' %}">Venue Rental</a>
      <a href="{% url 'barlery:contact' %}">Contact Us</a>
    </nav>
  </div>
</header>