{% comment %}
Reusable Menu Item Component

Usage in template:
{% include "barlery/_menu_item.html" with item=menu_item_object %}

Expected context variables:
    - item: MenuItem object with:
        - name: Item name
        - description: Item description (optional)
        - price: Item price (optional)
        - abv: Alcohol by volume percentage (optional)
{% endcomment %}

<div class="menu-item">
  <div class="menu-item-header">
    <h3 class="menu-item-name">
      {{ item.name }}
      {% if item.abv %}
        <span class="menu-item-abv">{{ item.abv }}% ABV</span>
      {% endif %}
    </h3>
    {% if item.price %}
      <span class="menu-item-price">${{ item.price }}</span>
    {% endif %}
  </div>
  {% if item.description %}
    <p class="menu-item-description">{{ item.description }}</p>
  {% endif %}
</div>