<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/site.css' %}{% if STATIC_VERSION %}?v={{ STATIC_VERSION }}{% endif %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Barlery</title>
    <meta name="description" content="">
    <meta name="keywords" content="">

    {% block extra_css %}{% endblock extra_css %}
    {% block head %}{% endblock head %}
</head>

<body>
    <div>
        <div class="sticky-top-container">
            {% include "barlery/_header.html" %}
            {% include "barlery/_alerts.html" %}
        </div>

        <main>
            {% block body %}{% endblock body %}
        </main>

        {% include "barlery/_footer.html" %}
    </div>

    <script src="{% static 'js/menu_toggle.js' %}{% if STATIC_VERSION %}?v={{ STATIC_VERSION }}{% endif %}"></script>
    {% block extra_scripts %}{% endblock extra_scripts %}
</body>
</html>